# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
src/*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
src/*.so
*.dylib
src/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.Rproj.user
